/* Styles CSS pour le carrousel */
.mon-carrousel {
  /* Ajoutez ici les styles pour le conteneur du carrousel */
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  
  
  .carousel-content {
  /* Ajoutez ici les styles pour le contenu du carrousel */
    position: relative;
    height: 100%;

    .carousel-item {
      box-sizing: border-box;
      /* Ajoutez ici les styles pour chaque élément du carrousel */
      flex: 0 0 100%; // Afficher un élément à la fois, 100% de largeur
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 1;
      z-index: 1;
      transition: opacity 0.5s;
      margin:  0 auto; // centrer les logo
    }
    .carousel-item:first-child {
      z-index: 10;
      opacity: 1; // Rendre le premier élément visible par défaut
    }
  }
  .carousel-navigation {
  /* Ajoutez ici les styles pour la navigation du carrousel */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
    .prev-button,
    .next-button {
    /* Styles pour les boutons de navigation */
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    }
  }
}





.article-counter {
  /* Styles pour le compteur d'articles */
  margin: 0 10px; /* Ajustez la valeur pour l'espacement entre le compteur et les boutons */
  font-weight: bold;
}
/* Styles CSS pour la page d'options du plugin */
.wrap {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.button-primary {
  background-color: #0073e6;
  color: #fff;
}

/* Styles pour le thème clair */
.mon-carrousel.light {
  background-color: transparent;
  color: #333;
}

/* Styles pour le thème sombre */
.mon-carrousel.dark {
  background-color: #333;
  color: #fff;
}

