/* Styles CSS pour le carrousel */
.mon-carrousel {
  /* Ajoutez ici les styles pour le conteneur du carrousel */
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-content {
  /* Ajoutez ici les styles pour le contenu du carrousel */
  display: flex;
  position: relative;
}

.carousel-item {
  /* Ajoutez ici les styles pour chaque élément du carrousel */
  flex: 0 0 100%; // Afficher un élément à la fois, 100% de largeur
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.carousel-item:first-child {
  opacity: 1; // Rendre le premier élément visible par défaut
}

.carousel-navigation {
  /* Ajoutez ici les styles pour la navigation du carrousel */
  text-align: center;
  margin-top: 700px; /* Ajustez la valeur pour l'espace entre les articles et les boutons */
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-button,
.next-button {
  /* Styles pour les boutons de navigation */
  background-color: #0073e6;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.article-counter {
  /* Styles pour le compteur d'articles */
  margin: 0 10px; /* Ajustez la valeur pour l'espacement entre le compteur et les boutons */
  font-weight: bold;
}
